Debug
Release
/.vs/Covellite++/DesignTimeBuild/.dtbcache.v2
/Solution/Solution/Example/Packaging/assets/data/Data.pack
/Solution/Solution/(Documentation)/html
/Solution/Solution/(Documentation)/Metrics.common.xml
/Solution/Solution/(Documentation)/Metrics.details.xml
/Solution/Solution/(Documentation)/MSBuild.result.txt
/Solution/Build/BuildAll/LastCoverageResults.log
